.chatContainerPC {
  height: calc(100vh - 64px);
  width: 1039px;
  max-width: 100%;
  margin: auto;
  background: white;
  display: flex;
  flex-direction: row;

  @media screen and (max-width: 992px) {
    height: calc(100vh - 56px);
  }


  .chatBoxLeft {
    width: 359px;
    display: flex;
    flex-direction: column;
    height: 100%;

    @media screen and (max-width: 992px) {
      width: 100vw;
    }

    :global {
      .box-title {
        height: 54px;
        padding: 12px 9px;
        border: 1px solid #E4E6EB;
        position: relative;

        .title {
          font-size: 20px;
          font-weight: 500;
          color: #1A2944;
        }
      }

      .box-search {
        padding: 20px 19px;
        border: 1px solid #E4E6EB;
        border-top: none;

        .input-search {
          background: #F5F5F5;
          border-radius: 12px;
          padding: 12px;
          box-shadow: none;
          font-size: 14px;
          font-weight: 400;
          color: #989EA8;
        }
      }

      .box-content {
        overflow: auto;
        flex-grow: 1;
        border: 1px solid #E4E6EB;
        border-top: none;
      }
    }
  }

  .chatBoxRight {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    position: relative;

    :global {
      .box-title {
        height: 54px;
        border: 1px solid #E4E6EB;
        display: flex;
        align-items: center;
        padding-left: 20px;
        padding-right: 18px;

        @media screen and (max-width: 992px) {
          padding-right: 10px;
        }
    

        .btn-chat {
          border-radius: 12px;
          height: 32px;
          padding-left: 18px;
          padding-right: 18px;
          font-size: 14px;
        }
        .username {
          color: #1A2944;
          font-size: 20px;
          font-weight: 500;
          margin-right: 20px;

          @media screen and (max-width: 992px) {
            margin-right: 12px;
          }
        }

        .username-community {
          display: block;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          max-width: 600px;
          font-weight: 500;

          @media screen and (max-width: 992px) {
            max-width: calc(100vw - 80px);
          }
        }

        .btn-review {
          margin-left: auto;
        }
      }

      .box-content {
        flex-grow: 1;
        border: 1px solid #E4E6EB;
        border-top: none;
        overflow-y: auto;
        position: relative;

        .box-chat {
          border-top: 1px solid #E4E6EB;
          position: absolute;
          bottom: 0;
          right: 0;
          left: 0;
          padding: 8px 12px;

          .paper-chat {
            border: none;
            box-shadow: none;

            .input-chat {
              background: #F6F7F9;
              border-radius: 12px;
              padding: 9px 20px;
              box-shadow: none;
              font-size: 14px;
              font-weight: 400;
              color: #989EA8;
            }
          }
        }
      }
    }

    .boxNoData {
      display: flex;
      align-items: center;
      padding-top: 80px;
      flex-direction: column;

      :global {
        .title {
          white-space: pre-line;
          text-align: center;
          font-size: 24px;
          font-weight: 700;
          line-height: 34.75px;
          margin-bottom: 40px;
        }
        .btn-find {
          margin-top: 76px;
          width: 280px;
        }
      }
    }

    .boxData {
      display: flex;
      flex-direction: column;
      padding-left: 20px;
      padding-right: 20px;
      padding-top: 29px;
      height: calc(100vh - 176px);
      overflow: auto;

      @media screen and (max-width: 992px) {
        height: calc(100vh - 168px);
      }

      .itemMsgOther {
        display: flex;
        margin-bottom: 20px;

        :global {
          .message-content {
            border-radius: 12px 12px 12px 0px;
            background: #F4FDFF;
            padding: 10px 20px;

            white-space: pre-line;
            font-size: 14px;
            color: #1A2944;
            max-width: 320px;
          }
          
          .avatar {
            width: 40px;
            margin-top: auto;
          }
          .time {
            color: #989EA8;
            font-size: 10px;
            margin-top: auto;
            margin-left: 4px;
          }
        }
      }
      
      .spanStartOfDay {
        display: flex;
        justify-content: center;
        margin-top: 13px;
        margin-bottom: 29px;

        :global {
          span {
            color: white;
            background: #03BCDB;
            border-radius: 12px;
            padding-left: 15px;
            padding-right: 15px;
            font-size: 12px;
            font-weight: 500;
            width: 54px;
          }
        }
      }

      .itemMessageMyChat {
        display: flex;
        margin-bottom: 20px;
        justify-content: flex-end;

        :global {
          .message-content {
            border-radius: 12px 12px 0 12px;
            background: linear-gradient(90deg, #03BCDB 0%, #03DBCE 100%);
            padding: 10px 20px;

            white-space: pre-line;
            font-size: 14px;
            color: #FFFFFF;
            max-width: 320px;
            font-weight: 400;
            line-height: 20.27px;

            &.error-message {
              background: #989EA8;
            }
          }
          
          .time {
            color: #989EA8;
            font-size: 10px;
            margin-top: auto;
            margin-right: 4px;
          }
        }
      }

      .errorMessage {
        margin-top: -12px;
        margin-bottom: 20px;
        font-size: 12px;
        font-weight: 400;
        line-height: 17.38px;
        text-align: end;

        :global {
          .span-error-message {
            margin: 0;
            color: #989EA8;
          }

          .btn-action {
            margin-left: 12px;
            cursor: pointer;

            &.btn-resend {
              color: #03BCDB;
            }
            &.btn-delete {
              color: #FF9458;
            }
          }
        }
      }

    }
  }

  .boxChat {
    border-top: 1px solid #E4E6EB;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 8px 12px;
    background: white;

    :global {
      .paper-chat {
        border: none;
        box-shadow: none;
  
        .input-chat {
          background: #F6F7F9;
          border-radius: 12px;
          padding: 9px 20px;
          box-shadow: none;
          font-size: 14px;
          font-weight: 400;
          color: #989EA8;
        }
      }
    }
  }
}

.chatContainerMobile {
  width: 100vw;
  background: white;
  height: calc(100vh - 48px);

  :global {
    .box-title {
      height: 54px;
      border-top: 1px solid #E4E6EB;
      border-bottom: 1px solid #E4E6EB;
      display: flex;
      width: 100%;
      align-items: center;
      padding: 8px 19px;
      font-size: 20px;
      font-weight: 400;
      color: "#1A2944";
      margin-top: 8px;
    }

    .box-search {
      padding: 20px 19px;
      border-bottom: 1px solid #E4E6EB;

      .input-search {
        background: #F5F5F5;
        border-radius: 12px;
        padding: 12px;
        box-shadow: none;
        font-size: 14px;
        font-weight: 400;
        color: #989EA8;
        height: 48px;
      }
    }
  }
  .boxNoData {
    display: flex;
    align-items: center;
    padding-top: 45px;
    flex-direction: column;

    :global {
      .title {
        white-space: pre-line;
        text-align: center;
        font-size: 24px;
        font-weight: 700;
        line-height: 34.75px;
        margin-bottom: 24px;
      }

      .btn-find {
        margin-top: 32px;
        width: 280px;
      }
    }
  }
}

.boxThreads {
  list-style: none;
  padding: 0;
  margin: 0;

  :global {
    .thread-item {
      border-bottom: 1px solid #E4E6EB;
      padding: 10px 19px;
      display: flex;
      align-items: center;
      cursor: pointer;

      &.active {
        background: #F5F5F5;
      }

      .avatar img{
        width: 52px;
        height: 52px;
        border-radius: 50%;
        margin-right: 16px;
      }

      .thread-content {
        .name {
          font-size: 14px;
          font-weight: 700;
          line-height: 21px;
          color: #262A30;
          white-space: nowrap;
        }
        .message-hide {
          font-size: 14px;
          font-weight: 400;
          color: #989EA8;
          width: 223px;
          display: block;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
        }
      }
      .more-options {
        margin-left: auto;

        .MuiIconButton-root {
          width: 40px;
          height: 40px;
          border-radius: 50%;
        }
      }
    }
  }
}
