.boxTabProfile {
  .tabProfile {
    background: #FFFFFF;
    border: 1px solid #03BCDB;
    border-radius: 12px 12px 0 0;
    border-bottom: none !important;
    color: #03BCDB;
    font-weight: 700;
    width: 240px;
    height: 56px;
  }
  .boxContentTab {
    display: flex;
    margin-bottom: 35px;
    color: #1A2944;
    .titleContentTab {
      width: 238px;
      font-size: 18px;
      font-weight: 700;
    }
    .contentTab {
      width: 680px;
    }
  }
}

@media only screen and (max-width: 820px) {
  .boxAddFriend {
    display: none;
  }
  .wrapBoxProfileSkill {
    padding: 0;
    margin: 40px 0;
    background-color: unset;
    .tabProfile {
      width: 167.5px;
    }
    .boxContentTab {
      display: block;
      .titleContentTab {
        font-size: 16px;
      }
      .contentTab {
        width: 100%;
        font-size: 14px;
      }
    }
  }
}
