.rotate-180 {
  transform: rotate(180deg);
}

@media screen and (max-width: 992px) {
  .content-pc {
    display: none!important;
  }
}

@media screen and (min-width: 993px) {
  .content-mobile {
    display: none!important;
  }
}

body {
  font-family: 'Noto Sans JP', sans-serif!important;
}

.overflow-hidden {
  overflow: hidden !important;
}