.header {
  height: 64px;
  width: 100%;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);

  .boxHeaderContent {
    display: flex;
    justify-content: space-between;
    padding: 0 40px;

    .imgLogo {
      margin-top: 11px;
      width: 141px;
      height: 42px;
    }

    .boxHeaderLeft {
      display: flex;

      .boxSearch {
        display: flex;
        width: 240px;
        height: 39.36px;
        border-radius: 40px;
        margin-top: 12.79px;
        border: 1px solid #03BCDB;
        background: #F4FDFF;
        margin-left: 37px;
        justify-content: space-between;
        align-items: center;

        .isMobile {
          display: none;
        }

        input {
          height: 100%;
          width: 100%;
          border-bottom-left-radius: 40px;
          border-top-left-radius: 40px;
          background: #F4FDFF !important;
          border: none;
          padding-left: 20px;
          font-size: 16px;
          font-weight: 500;
          color: #989EA8;
        }

        img {
          margin-right: 14px;
          margin-left: 20px;
        }
      }
    }

    .boxHeaderRight {
      display: flex;
      align-items: center;
      height: 64px;

      .avatar {
        width: 32px;
        height: 32px;
        background-color: #03BCDB;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 27px;
      }

      .icToggle {
        display: none;
      }
    }
  }
}

.footer {
  background-color: #1A2944;

  .boxFooterContent {
    display: flex;
    justify-content: space-between;
    padding: 40px 200px 20px 200px;
    color: #FFFFFF;

    a {
      color: #FFFFFF;
      text-decoration: none;
    }

    .footerContentLeft {
      .contentTopLeft {
        font-weight: 700;
        font-size: 14px;

        a:first-child {
          margin-right: 26px;
        }
      }

      .contentBottomLeft {
        margin-top: 97px;
        display: flex;
        a {
          margin-right: 40px;
        }
        .contentBottomLeftMenu {
          display: flex;
        }
      }
    }

    .footerContentRight {
      .contentTopRight {
        text-align: right;
      }
      .contentBottomRight {
        margin-top: 77px;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .header {
    height: 48px;

    .boxHeaderContent {
      padding: 0 20px;

      .imgLogo {
        width: 70px;
        height: 20px;
        margin-top: 14px;
      }

      .boxSearch {
        width: 88px !important;
        height: 30px !important;
        margin: 9px 0 9px 14px !important;

        .isMobile {
          display: block !important;
        }

        .isPc {
          display: none;
        }

        input {
          padding: 0 !important;
          border-bottom-left-radius: 0 !important;
          border-top-left-radius: 0 !important;
          border-bottom-right-radius: 40px;
          border-top-right-radius: 40px;
          font-size: 14px !important;
        }

        img {
          margin: 6px 7px 5px 14px !important;
          width: 18px !important;
          height: 18.86px !important;
        }
      }

      .boxHeaderRight {
        .avatar {
          display: none;
        }

        .icSetting {
          display: none;
        }

        .icMess {
          display: none;
        }
      }

      .boxHeaderRight {
        height: 48px;

        .icBell {
          height: 20.57px;

          span span {
            font-size: 8px;
            height: 12px;
            width: 18px;
          }
        }

        .icToggle {
          display: block;
        }
      }
    }
  }
  .footer {
    background-color: #1A2944;
    .boxFooterContent {
      display: block;
      padding: 24px 28px;
      color: #FFFFFF;

      a {
        color: #FFFFFF;
        text-decoration: none;
      }

      .footerContentLeft {
        .contentTopLeft {
          font-weight: 700;
          font-size: 14px;
          a:first-child {
            margin-right: 48px;
          }
        }

        .contentBottomLeft {
          margin-top: 30px;
          a {
            margin-right: 40px;
            font-size: 12px;
          }
          .contentBottomLeftMenu {
            display: block;
          }
        }
      }

      .footerContentRight {
        margin-top: 39px;
        .contentTopRight {
          text-align: center;
        }
        .contentBottomRight {
          margin-top: 0px;
          text-align: center;
        }
      }
    }
  }
}
